name: Demo Workflow

on:
  push:
    branches:
      - master

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Say Hello
      run: echo "Hello, GitHub Actions!"

    - name: Print demo file
      run: cat demo_test.txt
